<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <div class="light" slot="end"></div>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="test">
    <ion-segment-button value="connection">
      <ion-label>BLE Connection</ion-label>
    </ion-segment-button>
    <ion-segment-button value="liveData">
      <ion-label>Live Data</ion-label>
    </ion-segment-button>
    <ion-segment-button value="thermostat">
      <ion-label>Thermostat</ion-label>
    </ion-segment-button>
    <ion-segment-button value="test">
      <ion-label>Test</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
    <br><br><br><br><br>
    <div class="signalStatus">
        <div class="signalDisplay"><p>R</div><br><br><br>
        <div class="signalDisplay"><p>Y</div><br><br><br>
        <div class="signalDisplay"><p>GH</div><br><br><br>
        <div class="signalDisplay"><p>GL</div><br><br><br>
        <div class="signalDisplay"><p>W</div><br><br><br>
        <div class="signalDisplay"><p>B</div>
    </div>
    <div class="signalControl">
        <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
        <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
        <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
        <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
        <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
        <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
    </div>

</ion-content>
