<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <!-- <div class="light" slot="end"></div> -->
  </ion-toolbar>
</ion-header>

<ion-content>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="signalStatus">
        <div class="rValue"><p class='rP'>R</p></div><br><br><br>
        <div class="yValue"><p class='yP'>Y</p></div><br><br><br>
        <div class="ghValue"><p class='ghP'>GH</div><br><br><br>
        <div class="glValue"><p class='glP'>GL</p></div><br><br><br>
    </div>
    <div class="signalControl">
        <ion-toggle class="signalsToggles" color="primary" [(ngModel)]="rToogle" (ionChange)="rSignalLineChanged()"></ion-toggle><br><br><br>
        <ion-toggle class="signalsToggles" color="primary" [(ngModel)]="yToogle" (ionChange)="ySignalLineChanged()"></ion-toggle><br><br><br>
        <ion-toggle class="signalsToggles" color="primary" [(ngModel)]="ghToogle" (ionChange)="ghSignalLineChanged()"></ion-toggle><br><br><br>
        <ion-toggle class="signalsToggles" color="primary" [(ngModel)]="glToogle" (ionChange)="glSignalLineChanged()"></ion-toggle><br><br><br>
    </div>

</ion-content>
