<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <div class="light" slot="end"></div>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="liveData">
    <ion-segment-button value="connection">
      <ion-label>BLE Connection</ion-label>
    </ion-segment-button>
    <ion-segment-button value="liveData">
      <ion-label>Live Data</ion-label>
    </ion-segment-button>
    <ion-segment-button value="thermostat">
      <ion-label>Thermostat</ion-label>
    </ion-segment-button>
    <ion-segment-button value="test">
      <ion-label>Test</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row center>
      <ion-col text-center>
        <h4>Temperature & Humidity</h4>
        <div class="readerLeft" >
          <p><b>Cabin<br>Temperature</b>
          </p>
        </div>
        <div class="readerRight" >
          <p><b>Cabin<br>Humidity</b>
          </p>
        </div>
        <div class="sensorsDisplay"><p>{{ getTempRecentStatus() }}</div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="sensorsDisplay"><p>{{ getTempDailyStatus() }}</div>
        <!-- More Data-->
        <br>
        <div class="readerLeft" >
          <p><b>Compressor<br>Temperature</b>
          </p>
        </div>
        <div class="readerRightTemp" >
          <p><b>Expasion<br>Temperature</b>
          </p>
        </div>
        <div class="sensorsDisplay"><p>{{ getTempRecentStatus() }}</div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="sensorsDisplay"><p>{{ getTempDailyStatus() }}</div>
        <!-- More Data-->
        <div class="readerMiddle" >
          <p><b>Evaporator<br>Temperature</b>
          </p>
        </div>
        <div class="sensorsDisplay"><p>{{ getTempRecentStatus() }}</div>

        <h4>Power</h4>
        <div class="readerTripleLeft" >
          <p><b>Compressor<br>Voltage</b>
          </p>
        </div>
        <div class="readerTripleRight" >
          <p><b>Fan High<br>Voltage</b>
          </p>
        </div>
        <div class="readerTripleMiddle" >
          <p><b>Fan Low<br>Voltage</b>
          </p>
        </div>
        <div class="sensorsDisplay"><p>{{ getTempRecentStatus() }}</div>
        <div class="sensorsDisplay"><p>{{ getTempDailyStatus() }}</div>
        <div class="sensorsDisplay"><p>{{ getTempDailyStatus() }}</div>
        <!-- More Data-->
        <div class="readerTripleLeft" >
          <p><b>Compressor<br>Current</b>
          </p>
        </div>
        <div class="readerTripleRight" >
          <p><b>Fan High<br>Current</b>
          </p>
        </div>
        <div class="readerTripleMiddle" >
          <p><b>Fan Low<br>Current</b>
          </p>
        </div>
        <div class="sensorsDisplay"><p>{{ getTempRecentStatus() }}</div>
        <div class="sensorsDisplay"><p>{{ getTempDailyStatus() }}</div>
        <div class="sensorsDisplay"><p>{{ getTempDailyStatus() }}</div>
        <!-- More Data-->
        <div class="readerTripleLeftFreq" >
          <p><b>Compressor<br>Frequency</b>
          </p>
        </div>
        <div class="readerTripleRightFreq" >
          <p><b>Fan High<br>Frequency</b>
          </p>
        </div>
        <div class="readerTripleMiddleFreq" >
          <p><b>Fan Low<br>Frequency</b>
          </p>
        </div>
        <div class="sensorsDisplay"><p>{{ getTempRecentStatus() }}</div>
        <div class="sensorsDisplay"><p>{{ getTempDailyStatus() }}</div>
        <div class="sensorsDisplay"><p>{{ getTempDailyStatus() }}</div>
        
        <h4>Vibration</h4>
        <div class="readerTripleLeftVib" >
          <p><b>X-axis</b>
          </p>
        </div>
        <div class="readerTripleRightVib" >
          <p><b>Y-axis</b>
          </p>
        </div>
        <div class="readerTripleMiddleVib" >
          <p><b>Z-axis</b>
          </p>
        </div>
        <div class="sensorsDisplay"><p>{{ getTempRecentStatus() }}</div>
        <div class="sensorsDisplay"><p>{{ getTempDailyStatus() }}</div>
        <div class="sensorsDisplay"><p>{{ getTempDailyStatus() }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
