<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="live-data">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>All Data</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="temperature-analysis">
        <ion-icon name="thermometer"></ion-icon>
        <ion-label>Temperature</ion-label>
      </ion-tab-button>
    <ion-tab-button tab="humidity-analysis">
      <ion-icon name="water"></ion-icon>
      <ion-label>Humidity</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="power-analysis">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Power</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vibration-analysis">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Vibration</ion-label>
    </ion-tab-button>
      
  </ion-tab-bar>
</ion-tabs>
