<ion-header>
  <ion-toolbar>
    <ion-title>DATA HISTORY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row center>
        <ion-col text-center>
          <br>
          <h4>Search Data Range</h4>
        <ion-item>
          <ion-label>From:</ion-label>
          <ion-datetime displayFormat="MMM / DD / YYYY" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>To:</ion-label>
          <ion-datetime displayFormat="MMM / DD / YYYY" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <br><br><br><br><br><br><br><br>
        <ion-button shape="round" size="large" expland="block" (click)="searchData()">Search Data</ion-button><br><br>
        <ion-button shape="round" size="large" expland="block" (click)="flagData()">Flag Data</ion-button><br><br>
        <ion-button shape="round" color="tertiary" size="large" expland="block" (click)="deleteData()">Delete Data</ion-button><br><br>
        <br>
        <ion-button shape="round" size="default" expland="block">
          <ion-back-button color="tertiary" defaultHref="/main"></ion-back-button>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
