<ion-header>
  <ion-toolbar>
    <ion-title>Thermostat Analysis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-grid>
    <ion-row center>
      <ion-col text-center>
          <ion-segment (ionChange)="segmentChanged($event)" value="fahrenheit">
            <ion-segment-button value="fahrenheit">
              <ion-label>Fahrenheit</ion-label>
            </ion-segment-button>
            <ion-segment-button value="celcius">
              <ion-label>Celcius</ion-label>
            </ion-segment-button>
        </ion-segment>
        <h4>Ambient Temperature</h4>
        <div class="sensorsDisplay"><p>{{ getAmbTempStatus() }}</div><br>
        <h4>Set Temperature To</h4>
        <div class="sensorsDisplay"><p>{{ getSetTemp() }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row center>
      <ion-col text-center>
        <div class="signalStatus">
              <div class="signalDisplay"><p>R</div><br><br><br>
              <div class="signalDisplay"><p>Y</div><br><br><br>
              <div class="signalDisplay"><p>GH</div><br><br><br>
              <div class="signalDisplay"><p>GL</div><br><br><br>
              <div class="signalDisplay"><p>W</div><br><br><br>
              <div class="signalDisplay"><p>B</div>
        </div>
        <div class="thermostatButtons">
            <br><br><br><br><br>
            <ion-button shape="round" size="large" expland="block" class="shadow-red" (click)="setTempUp()">
              <ion-icon name="arrow-dropup"></ion-icon>
            </ion-button>
            <ion-button shape="round" size="large" expland="block" (click)="setTempDown()">
              <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-button><br><br>
            <ion-button color="tertiary" shape="round" size="large" expland="block" (click)="powerOff()">
              <ion-icon name="power"></ion-icon>
            </ion-button>
        </div>
        <div class="signalControl">
          <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
          <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
          <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
          <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
          <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
          <ion-toggle class="signalsToggles" color="primary"></ion-toggle><br><br><br>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <ion-button shape="round" size="default" expland="block">
          <ion-back-button color="tertiary" defaultHref="/main"></ion-back-button>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
