<ion-header>
  <ion-toolbar>
    <ion-title>DEVICE PROPERTIES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row center>
      <ion-col text-center>
        <form>
          <br>
          <h4>AC Class Model</h4>
          <ion-item>
            <ion-input type="text" text-center oninput="handleFirstNameValue(event)" placeholder="Ex. Class B"></ion-input>
          </ion-item>
          <h4>Thermostat Model</h4>
          <ion-item>
            <ion-input type="text" text-center placeholder="Ex. Class B"></ion-input>
          </ion-item>
          <h4>BTU Capacity</h4>
          <ion-item>
            <ion-input type="text" text-center id="input" placeholder="Ex. 13500"></ion-input>
            <ion-label color="dark">{{ nameUpdate }}</ion-label>
          </ion-item>
          <h4>Class Model</h4>
          <ion-item>
            <ion-input type="text" text-center placeholder="Ex. Class B"></ion-input>
          </ion-item>
          <h4>Square Footage</h4>
          <ion-item>
            <ion-input type="number" text-center placeholder="Ex. 400"></ion-input>
          </ion-item>
          <br>
          <ion-button shape="round" size="default" expland="block" type="submit" (click)="saveButton()">
              <ion-icon slot="start" name="save"></ion-icon>Save
          </ion-button>
        </form>
        <p align="center">Or</p>
        <ion-button shape="round" size="default" expland="block" color="tertiary" (click)="dismissButton()">
            <ion-icon slot="start" name="close"></ion-icon>Dismiss
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
