<ion-header>
  <ion-toolbar>
    <ion-title>Current</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="mA">
    <ion-segment-button value="mA">
      <ion-label>Milliampere</ion-label>
    </ion-segment-button>
    <ion-segment-button value="A">
      <ion-label>Ampere</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button><ion-button color="tertiary" (click)="goToVoltageAnalysis()"><b>V</b></ion-button></ion-fab-button>
      <ion-fab-button><ion-button color="primary" (click)="goToCurrentAnalysis()"><b>C</b></ion-button></ion-fab-button>
      <ion-fab-button><ion-button color="tertiary" (click)="goToPowerConAnalysis()"><b>P</b></ion-button></ion-fab-button>
      <ion-fab-button><ion-button color="tertiary" (click)="goToVibrationAnalysis()"><b>Vi</b></ion-button></ion-fab-button>
      <ion-fab-button><ion-button color="tertiary" (click)="goToHumidityAnalysis()"><b>H</b></ion-button></ion-fab-button>
      <ion-fab-button><ion-button color="tertiary" (click)="goToTemperatureAnalysis()"><b>T</b></ion-button></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <ion-row center>
      <ion-col text-center>
        <br><br><br><br>
        <div class="sensorsDisplay"><p>{{ getCurRecentStatus() }}</div>
        <p class="reader" ><b>Recent</b></p>
        <br><br>
        <div class="sensorsDisplay"><p>{{ getCurDailyStatus() }}</div>
        <p class="reader" ><b>Daily Average</b></p>
        <br><br>
        <div class="sensorsDisplay"><p>{{ getCurWeeklyStatus() }}</div>
        <p class="reader" ><b>Weekly Average</b></p>
        <br><br><br><br>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row center>
      <ion-col text-center>
          <ion-button shape="round" size="default" expland="block">
            <ion-back-button color="tertiary" defaultHref="/main"></ion-back-button>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
