// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-toolbar {
    --background: #083c8b;
}

ion-button {
    --background: #083c8b;
}

ion-img {
    --background: #083c8b;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 2px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
}

/*
ion-segment {
    color: #ffffff;
}
*/

ion-content {
    //--background: #eef0f1;
    //--background:#808080;
}

:root {
    --ion-color-primary: #06367e;
    --ion-color-secondary: #f2f7f2;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-tertiary: #c20a0a;
    --ion-color-primary-tint: #092652;
}

.my-custom-menu {
    --width: 500px;
}

h4 {
    color: #eef0f1;
    background-color: #8b2626;
    text-align: center;
}

div.bleDevices {
    width: 300px;
    height: 200px;
    border: 3px solid #073e91;
    background-color: #95acb9;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

    position: relative;
    display: inline-block;
    //float: left;
    //padding-left: 0.5cm;
    //padding-right: 0.5cm
}

div.signalStatus {
    position: center;
    display: inline-block;
    float: left;
    padding-right: 0cm;
    padding-left: 2cm;
}

div.signalDisplay {
    position: relative;
    width: 38px;
    height: 33px;
    border: 5px solid #06367e;
    font-size: 20px;
    text-align:center;
    display: inline-block;
    background-color: #c0e3f7;
}

div.signalDisplay p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #06367e;
}

div.thermostatButtonsUp {
    //width: 100px;
    //height: 100px;
    display: inline-block;
    float: left;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

div.thermostatButtonsDown {
    //width: 100px;
    //height: 100px;
    display: inline-block;
    float: right;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

div.signalControl {
    position: center;
    display: inline-block;
    float: right;
    padding-left: 0cm;
    padding-right: 2cm;
}

div.fanHighLabel {
    //width: 100px;
    //height: 100px;
    display: inline-block;
    float: left;
    padding-left: 2cm;
    padding-right: 0cm;
}
div.fanLowLabel {
    //width: 100px;
    //height: 100px;
    position: center;
    display: inline-block;
    //float: right;
    //padding-left: 0cm;
    //padding-right: 0cm;
}

div.fanToggle {
    //width: 100px;
    //height: 100px;
    position: center;
    text-align:center;
    display: inline-block;
    float: right;
    padding-left: 0cm;
}

div.sensorsDisplay {
    position: relative;
    width: 109px;
    height: 70px;
    border: 5px solid #06367e;
    font-size: 38px;
    text-align:center;
    display: inline-block;
    background-color: #c0e3f7;
    //float: left;
    padding-left: 0.5cm;
    padding-right: 0.5cm
}

div.sensorsDisplay p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #06367e;
}

div.sensorsDisplayThermo {
    position: relative;
    width: 110px;
    height: 70px;
    border: 5px solid #06367e;
    font-size: 38px;
    text-align:center;
    display: inline-block;
    background-color: #c0e3f7;
    display: inline-block;
    //float: left;
    padding-left: 0cm;
}

div.sensorsDisplayThermo p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #06367e;
}

.reader{
    font-size: 13px;
    color: #06367e;
}

div.readerLeft{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: left;
    padding-left: 1.5cm;
    padding-right: 0.5cm;
}
div.readerRight{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: right;
    padding-left: 0.5cm;
    padding-right: 1.8cm;
}
div.readerRightTemp{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: right;
    padding-left: 0.5cm;
    padding-right: 1.5cm;
}

div.readerMiddle{
    font-size: 15px;
    color: #06367e;
}
div.readerLeft{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: left;
    padding-left: 1.5cm;
    padding-right: 0.5cm;
}
div.readerTripleLeft{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: left;
    padding-left: 0.7cm;
    padding-right: 0.5cm;
}
div.readerTripleRight{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: right;
    padding-left: 0.2cm;
    padding-right: 1cm;
}
div.readerTripleMiddle{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: left;
    padding-left: 0.5cm;
    padding-right: 0cm;
}
div.readerTripleLeftFreq{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: left;
    padding-left: 0.7cm;
    padding-right: 0.2cm;
}
div.readerTripleRightFreq{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: right;
    padding-left: 0.4cm;
    padding-right: 0.9cm;
}
div.readerTripleMiddleFreq{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: left;
    padding-left: 0.5cm;
    padding-right: 0cm;
}
div.readerTripleLeftVib{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: left;
    padding-left: 1.3cm;
    padding-right: 1cm;
}
div.readerTripleMiddleVib{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: left;
    padding-left: 0.5cm;
    padding-right: 0cm;
}
div.readerTripleRightVib{
    font-size: 15px;
    color: #06367e;
    display: inline-block;
    float: right;
    padding-left: 0m;
    padding-right: 1.3cm;
}
  
div.light {
    //position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 5px rgb(214, 12, 12),
        inset 20px 0 80px rgb(243, 70, 40),
        inset -20px 0 80px rgb(11, 235, 235),
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px rgb(219, 88, 88),
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
    //padding-right: 1.3cm;
    //padding-left: 1.3cm;
}

#onDiv {
    position: relative;
    width: 40px;
    height: 33px;
    border: 5px solid #06367e;
    font-size: 20px;
    text-align:center;
    display: inline-block;
    background-color: #c0e3f7;
}

#offDiv {
    position: relative;
    width: 40px;
    height: 33px;
    border: 5px solid #7e0606;
    font-size: 20px;
    text-align:center;
    display: inline-block;
    background-color: #c76767;
}

#onDiv p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #06367e;
}

#offDiv p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #550303;
}
